In [29]:
import pandas as pd
import numpy as np
import joblib

In [7]:
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/housing_tashkent.csv", index_col=0)
df

,rooms,size,max_levels,price,district2,average_price(district),total_share_dataset(district)
0,3.0,57.0,4.0,52000.0,4,49292.467949,12.144803
1,2.0,52.0,5.0,56000.0,5,49775.252525,7.707279
2,2.0,42.0,4.0,37000.0,1,41599.838969,24.172830
4,3.0,70.0,5.0,55000.0,1,41599.838969,24.172830
5,1.0,28.0,4.0,25500.0,1,41599.838969,24.172830
...,...,...,...,...,...,...,...
7558,1.0,32.0,5.0,25000.0,8,55049.792531,4.690541
7559,1.0,27.5,4.0,23000.0,8,55049.792531,4.690541
7560,1.0,38.0,5.0,24500.0,7,44610.000000,5.838848
7561,2.0,49.0,4.0,32000.0,7,44610.000000,5.838848
7562,2.0,64.0,9.0,40000.0,8,55049.792531,4.690541

In [8]:
from sklearn.model_selection import train_test_split
train_set ,test_set = train_test_split(df, test_size=0.2, random_state=42)
train_set.head(10)

,rooms,size,max_levels,price,district2,average_price(district),total_share_dataset(district)
3286,2.0,60.0,4.0,60000.0,4,49292.467949,12.144803
2896,2.0,54.0,3.0,29000.0,4,49292.467949,12.144803
4059,2.0,52.0,5.0,33500.0,3,43048.600884,13.215259
1354,2.0,54.0,5.0,36000.0,1,41599.838969,24.172830
1771,2.0,56.0,4.0,32500.0,1,41599.838969,24.172830
39,4.0,80.0,4.0,52500.0,3,43048.600884,13.215259
2179,2.0,64.0,5.0,42000.0,5,49775.252525,7.707279
965,3.0,65.0,9.0,48000.0,4,49292.467949,12.144803
319,4.0,140.0,10.0,105000.0,5,49775.252525,7.707279
3426,2.0,60.0,4.0,41000.0,9,48637.681159,4.028805

In [9]:
x_values = train_set.copy()
x_values.head()

,rooms,size,max_levels,price,district2,average_price(district),total_share_dataset(district)
3286,2.0,60.0,4.0,60000.0,4,49292.467949,12.144803
2896,2.0,54.0,3.0,29000.0,4,49292.467949,12.144803
4059,2.0,52.0,5.0,33500.0,3,43048.600884,13.215259
1354,2.0,54.0,5.0,36000.0,1,41599.838969,24.172830
1771,2.0,56.0,4.0,32500.0,1,41599.838969,24.172830

In [11]:
y = x_values['price']
y

3286    60000.0
2896    29000.0
4059    33500.0
1354    36000.0
1771    32500.0
         ...
6544    36000.0
684     41000.0
4636    29000.0
5603    35000.0
1231    36000.0
Name: price, Length: 4110, dtype: float64

In [12]:
x_values.drop(columns='price', axis=1, inplace=True)
x_values.head()

,rooms,size,max_levels,district2,average_price(district),total_share_dataset(district)
3286,2.0,60.0,4.0,4,49292.467949,12.144803
2896,2.0,54.0,3.0,4,49292.467949,12.144803
4059,2.0,52.0,5.0,3,43048.600884,13.215259
1354,2.0,54.0,5.0,1,41599.838969,24.172830
1771,2.0,56.0,4.0,1,41599.838969,24.172830

In [13]:
from sklearn.preprocessing import StandardScaler as sscaler
stand_scaler = sscaler()

In [14]:
x_scaler = stand_scaler.fit_transform(x_values)
x_scaler

array([[-0.4878644 , -0.1973497 , -0.73712582,  0.11650965,  0.37546343,
        -0.3132499 ],
       [-0.4878644 , -0.49022971, -1.1674649 ,  0.11650965,  0.37546343,
        -0.3132499 ],
       [-0.4878644 , -0.58785638, -0.30678674, -0.27760942, -0.63776473,
        -0.16215378],
       ...,
       [-0.4878644 ,  0.04671697, -1.59780398,  0.90474781,  2.83183446,
        -0.9560952 ],
       [-0.4878644 , -0.44141638, -0.30678674, -0.6717285 , -0.16192835,
         0.55761319],
       [-0.4878644 , -0.83192305, -0.73712582, -1.06584758, -0.87286364,
         1.38452105]])

#LinearRegression

In [30]:
from sklearn.linear_model import LinearRegression
LR_model = LinearRegression()
LR_model.fit(x_scaler, y)

filename = 'LR_model.jbl'
joblib.dump(LR_model, filename)

['LR_model.jbl']

#DecisionTreeRegressor

In [31]:
from sklearn.tree import DecisionTreeRegressor
Tree_model = DecisionTreeRegressor()
Tree_model.fit(x_scaler, y)

filename = 'Tree_model.jbl'
joblib.dump(Tree_model, filename)

['Tree_model.jbl']

#RandomForestRegressor

In [32]:
from sklearn.ensemble import RandomForestRegressor
RF_model = RandomForestRegressor()
RF_model.fit(x_scaler, y)

filename = 'RF_model.jbl'
joblib.dump(RF_model, filename)

['RF_model.jbl']

In [18]:
test_set
x_test = test_set.drop(columns='price', axis=1)
x_test

,rooms,size,max_levels,district2,average_price(district),total_share_dataset(district)
1203,2.0,46.0,4.0,1,41599.838969,24.172830
1390,3.0,65.0,5.0,1,41599.838969,24.172830
5919,1.0,45.0,4.0,2,45980.871413,18.314519
1156,3.0,70.0,5.0,3,43048.600884,13.215259
3076,3.0,69.0,9.0,8,55049.792531,4.690541
...,...,...,...,...,...,...
4340,2.0,72.0,6.0,3,43048.600884,13.215259
5755,2.0,62.0,7.0,7,44610.000000,5.838848
5150,1.0,37.0,10.0,5,49775.252525,7.707279
6014,4.0,103.0,9.0,6,64429.487179,7.590502
548,2.0,54.0,4.0,4,49292.467949,12.144803

In [19]:
y_test = test_set['price'].copy()
y_test

1203    35000.0
1390    48000.0
5919    50000.0
1156    46500.0
3076    45000.0
         ...
4340    55000.0
5755    55000.0
5150    29000.0
6014    70000.0
548     38500.0
Name: price, Length: 1028, dtype: float64

In [21]:
x_test_prep = stand_scaler.fit_transform(x_test)
x_test_prep

array([[-0.51584382, -0.9383427 , -0.74067409, -1.05286269, -0.85346399,
         1.37858082],
       [ 0.6521902 ,  0.01841709, -0.32753629, -1.05286269, -0.85346399,
         1.37858082],
       [-1.68387783, -0.98869847, -0.74067409, -0.66864443, -0.14945299,
         0.56042384],
       ...,
       [-1.68387783, -1.3915447 ,  1.7381527 ,  0.48401036,  0.46028594,
        -0.92095675],
       [ 1.82022421,  1.93193665,  1.3250149 ,  0.86822862,  2.81515149,
        -0.93726552],
       [-0.51584382, -0.53549647, -0.74067409,  0.0997921 ,  0.38270476,
        -0.30122322]])

In [22]:
ln_prepared = LR_model.predict(x_test_prep)
tr_prepared=Tree_model.predict(x_test_prep)
rf_prepared = RF_model.predict(x_test_prep)

In [28]:
d = {"LinearRegression": ln_prepared,"DecisionTreeRegressor": tr_prepared, "RandomForestRegressor": rf_prepared, "реальная цена": y_test}
pd.DataFrame(data=d)

,LinearRegression,DecisionTreeRegressor,RandomForestRegressor,реальная цена
1203,32889.924043,38192.307692,38172.699488,35000.0
1390,45385.150773,37000.000000,42427.738095,48000.0
5919,34003.718428,62000.000000,52332.583333,50000.0
1156,48435.401560,50000.000000,45271.419509,46500.0
3076,53259.973283,56000.000000,56260.000000,45000.0
...,...,...,...,...
4340,48768.334226,67000.000000,54310.905736,55000.0
5755,41323.186764,52333.333333,44495.785714,55000.0
5150,30023.083639,35000.000000,34743.309524,29000.0
6014,82849.477443,92555.555556,94687.295094,70000.0
548,41593.585609,33000.000000,34408.295274,38500.0

In [25]:
from sklearn.metrics import mean_squared_error
slr_error = mean_squared_error(y_test, ln_prepared)
str_error = mean_squared_error(y_test, tr_prepared)
srf_error = mean_squared_error(y_test, rf_prepared)
print(f"средняя квадратичная ошибка(LinearRegression) {np.sqrt(slr_error)}")
print(f"средняя квадратичная ошибка(DecisionTreeRegressor) {np.sqrt(str_error)}")
print(f"средняя квадратичная ошибка(RandomForestRegressor) {np.sqrt(srf_error)}")

средняя квадратичная ошибка(LinearRegression) 11951.11963683244
средняя квадратичная ошибка(DecisionTreeRegressor) 13583.477322293857
средняя квадратичная ошибка(RandomForestRegressor) 11267.04008461338

In [26]:

from sklearn.metrics import mean_absolute_error
lr_error = mean_absolute_error(y_test, ln_prepared)
tr_error = mean_absolute_error(y_test, tr_prepared)
rf_error = mean_absolute_error(y_test, rf_prepared)
print(f"средняя абсолютная ошибка(LinearRegression) {lr_error}")
print(f"средняя абсолютная ошибка(DecisionTreeRegressor) {tr_error}")
print(f"средняя абсолютная ошибка(RandomForestRegressor) {rf_error}")

средняя абсолютная ошибка(LinearRegression) 8524.131719293076
средняя абсолютная ошибка(DecisionTreeRegressor) 9086.22580855682
средняя абсолютная ошибка(RandomForestRegressor) 7646.6948939009035